<div class="main-content">
    <div align="left" class="alert alert-warning col-md-12" role="alert">
        <p>A demonstartion full stack E-commerce application with:</p>
        <ul>
            <li>login/logout</li>
            <li>product catalog</li>
            <li>shopping cart</li>
            <li>checkout</li>
            <li>card payments</li>
        </ul>
        <p>It is based on the E-commerce application from the 
            <a href="https://www.udemy.com/course/full-stack-angular-spring-boot-tutorial/">Full Stack: Angular and Java Spring Boot</a>
            course on <a href="https://www.udemy.com/">Udemy</a>, and has been extended beyond the basic functionality outlined in the course.
        </p>        

        <div class="card alert alert-danger">
            <div class="card-body">
              <b>Note:</b> This is not a retail site, <i>do not enter</i> valid payment card or personal details.
              Please use <a href="https://stripe.com/docs/testing#cards">Stripe test card numbers</a>.
            </div>
        </div>

        <h6>Tech stack</h6>
        <p>The application consists of:</p>
        <ul>
            <li><a href="https://spring.io/projects/spring-boot">Spring Boot</a> application with:
                <ul>
                    <li><a href="https://spring.io/projects/spring-data-jpa">Spring Data JPA</a> providing REST APIs</li>
                    <li><a href="https://stripe.com/">Stripe</a> for card payment processing</li>
                    <li>JWT, oauth2, OpenID Connect provided by <a href="https://www.okta.com/">okta</a></li>
                </ul>
            </li>
            <li>Database supported:
                <ul>
                    <li><a href="https://www.mysql.com/">MySQL</a></li>
                    <li><a href="https://www.postgresql.org/">PostgreSQL</a></li>
                </ul>
            </li>
            <li><a href="https://angular.io/">Angular</a> frontend application</li>
        </ul>

        <p>Code available at:</p>
        <ul>
            <li><a href="https://github.com/ibuttimer/L2CeCommerceFe">Frontend</a></li>
            <li><a href="https://github.com/ibuttimer/L2CEcommerceBe">Backend</a></li>
        </ul>
    </div>
</div>
