<div class="main-content">
    <div align="center" class="alert alert-warning col-md-12" role="alert">
        <h5>Welcome</h5>
        <img src="assets/images/logo.png" alt="luv2shop" class="img-responsive">
        <h6>A full stack E-commerce application</h6>

        <div class="card alert alert-danger" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Warning</h5>
              <p class="card-text">This is not a retail site, <i>do not enter</i> valid payment card or personal details.</p>
            </div>
          </div>
    </div>
</div>
